.application-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.application-introducer {
  width: 90%;
  margin-top: 30px;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  border-top: 1px solid rgb(215, 215, 215);
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
  h2 {
    font-size: 16px;
    color: #a5a5a5;
  }
}
