.footer-container {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80vw;
}

.footer-image {
  margin-top: -29px;

  img {
    height: 60px;
  }
}
.first-section {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #464646;
  .download-link {
    img {
      width: 150px;
      margin: 0 8px;
    }
  }
  .footer-menu {
    span {
      padding: 20px 10px;
      font-size: 16px;
      color: #a5a5a5;
    }
  }
}

.second-section {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.5px solid #464646;

  section {
    width: 20vw;
    justify-content: flex-start;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
    color: white;
    line-height: normal;
  }
  span {
    font-size: 16px;
    color: #a5a5a5;
    padding: 4px 0;
    line-height: normal;
  }
}

.footer-logo {
  span {
    font-size: 12px;
    color: #a5a5a5;
  }
  display: flex;
  flex-direction: column;
  div {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 120px;
  }
}
.third-section {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  span {
    margin: 5px 0;
    font-size: 16px;
    color: #d7d7d7;
  }
}
.footer-copyright {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  .left-part {
    display: flex;
    align-items: center;
  }
  span {
    font-size: 16px;
    color: #a5a5a5;
    margin-right: 10px;
  }
  h4 {
    font-size: 16px;
    color: #a5a5a5;
    padding: 0 10px;
    border-left: 1px solid #a5a5a5;
  }
}
.right-part {
  i {
    padding: 12px;
    transition: color 0.5s;
    color: #fff;
    font-size: 1.5rem;
  }
}
