.header-container {
  background-color: rgb(207, 207, 207);
  > section {
    display: flex;
    justify-content: space-between;
    padding: 25px 120px;
    > div {
      font-size: 16px;
      display: flex;
      color: #696969;
      span {
        margin: 5px 1px;
        padding: 0 10px;
      }
      > a {
        color: rgb(105, 105, 105);
        padding: 0.5rem;
        transition: all 0.2s ease-in;
        margin: 0 10px;
      }
      > span {
        margin: 0 10px;
        padding: 8px;
      }
      > img {
        width: 30px;
      }
    }
    > img {
      width: 100px;
    }
  }
  background-color: rgb(239, 239, 239);
}

.header-right {
  display: flex;
  align-items: center;
  > a {
    color: rgb(105, 105, 105);
    padding: 0.5rem;
    transition: all 0.2s ease-in;
    margin: 0 10px;
  }
  > img {
    width: 30px;
  }
}

.header-left {
  > img {
    width: 110px;
  }
}
.header-login {
  background-color: rgb(0, 0, 0);
  color: white;
  border-color: rgb(0, 0, 0);
  border-radius: 30px;
  margin: 5px 1px;
  padding: 8px 11px;
  font-size: 12px;
}

.header-sign-up {
  border-radius: 30px;
  margin: 5px 10px 5px 1px;
  padding: 8px 11px;
  font-size: 12px;
  font-size: 12px;
  border-radius: 30px;
  color: rgb(2, 103, 100);
  border: 1px solid rgb(2, 103, 100);
}
