$small: 576px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;

.menu-row-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.menu-row {
  width: 90%;
  margin-top: 30px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
  }
  img {
    @media (min-width: $small) {
      height: 150px;
    }
    @media (min-width: $medium) {
      height: 180px;
    }
    @media (min-width: $large) {
      height: 200px;
    }
    @media (min-width: $xLarge) {
      height: 220px;
    }
    border-radius: 5px;
    width: 100%;
  }
  h3 {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  h4 {
    font-size: 15px;
    line-height: normal;
    span:first-child {
      color: #026764;
    }
    span {
      color: #696969;
    }
  }
  h5 {
    padding: 1px;
    line-height: normal;
    i {
      background-color: #f5f5f5;
      font-size: 12px;
      color: black;
    }
  }
}
.slider-image {
  width: 27vw !important;
}
.time {
  background-color: #f5f5f5;
  margin: 1px;
  padding: 2px;
  font-size: 14px;
  color: black;
}
.price {
  background-color: #d7d7d7;
  margin: 1px;
  padding: 2px;
  font-size: 14px;
  color: black;
}

.slider-image {
  display: flex;
  flex-direction: column;
}
.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h4 {
    background-color: #f5f5f5;
    color: #026764;
    margin: 1px 16px 1px 1px;
    padding: 2px;
  }
}
